- content_for :title do
  - "Guild Wars 2 Cook Book"
#pages
  %body
    %table
      - @container.each do |item|
        %tr
          %td
            = item
    %p#search-bar
      = form_tag('/pages', :method => :put) do
        = text_field_tag 'container', nil, :placeholder => "Enter an ingredient here..."
        = submit_tag 'Add ingredient'
    %p= link_to "Add new ingredient", new_ingredient_path
